<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Reg.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Missing</servlet-name>
        <servlet-class>Reg.Missing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userregister</servlet-name>
        <servlet-class>Reg.userregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>area</servlet-name>
        <servlet-class>Reg.area</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>Reg.user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_log</servlet-name>
        <servlet-class>Reg.user_log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Missing</servlet-name>
        <url-pattern>/Missing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>area</servlet-name>
        <url-pattern>/area</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_log</servlet-name>
        <url-pattern>/user_log</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
